# Python & Environnement
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo

# Django & Database
db.sqlite3
*.log
logs/

# Variables d'environnement (Crucial pour la sécurité)
.env
.env.local
.env.*

# VS Code & OS
.vscode/
.DS_Store

# Frontend (au cas où)
node_modules/
dist/
build/