Django==6.0.5
djangorestframework==3.17.0
djangorestframework-simplejwt[crypto]==5.5.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
dj-database-url
python-dotenv==1.2.2
whitenoise
django-admin-interface
django-colorfield
gunicorn
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
pytest
pytest-django
ruff
requests
stripe
zeep